version: "3.9"

services:
  nextjs:
    build: .
    container_name: tunir-website,
    volumes:
      - ./data:/app/data
    ports:
      - "6000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
